h1{
    background-color: brown;
    color: white;
    text-align: center;
}

.firstimg{
    height: 350px;
    width: 100%;
}

div{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
}

.allimg{
    border: 5px dashed black;
}

h3{
    background-color: black;
    color: white;
    text-align: center;
}